<style>

.botao
{
position:absolute;
top:300px;
left:5px;
width:200px;
height:40px;
background:yellow;
cursor:pointer

}
</style>



<form action="/meu_form.php" method="post" id="meuform">
  Nome:<br>
  <input type="text" name="nome" value="Mickey">
  <br>
  Sobrenome:<br>
  <input type="text" name="sobrenome" value="Mouse">
  <br><br>
  <input type="submit" value="Submit">
</form> 
<div class="botao" onclick="postar_form();"> Replicar o formulario</div>



<script>

function postar_form()
{
	//pegando o form via id
	var meuform = document.querySelector("#meuform");
	//transformando os inputs do form em array
	var meu_array = objectifyForm(meuform);
	//criando uma nova matriz de dados
	var data = new FormData();
	//para cada objeto no array, transforma em um array de formdata
	for (var p in meu_array) {
        console.log(p+': '+meu_array[p]);
		data.append(p,meu_array[p]);
    }

	//chamando o ws de login
	var xml = new XMLHttpRequest()
	//nome do servico, igual ao do submit original..
	var url = "/meu_form.php";
	if (xml !== null) {
		xml.open('POST', url, true);
		xml.send(data);
		xml.onreadystatechange = function () {
			if (xml.readyState === 4) {
				saida = xml.responseText.toString();
				document.body.innerHTML = saida;
			}
		}
	}
}

function objectifyForm(form) {//serialize data function
	//ele pega e sobreescreve input hidden tb...
  var formArray = form.querySelectorAll("input");
  var returnArray = {};
  for (var i = 0; i < formArray.length; i++){
    returnArray[formArray[i]['name']] = formArray[i]['value'];
  }
  return returnArray;
}


</script>